@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 0%, 98%);
}

.body-darkmode {
  background-color: hsl(235deg, 21%, 11%) !important;
}

.dark-Mode {
  background-color: hsl(235deg, 24%, 19%) !important;
  color: hsl(234deg, 39%, 85%);
  border-bottom: 1px solid hsl(237deg, 14%, 26%) !important;
}

.dark-text-color {
  color: hsl(234deg, 39%, 85%) !important;
}

.checkBox-Color {
  border: 1px solid hsl(237deg, 14%, 26%) !important;
}

.list-header {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 100vw;
  background-repeat: no-repeat;
}
.list-header span {
  font-weight: 700;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 27px;
}
.list-header #mode {
  margin-top: 45px;
  margin-right: 30px;
  color: white;
  font-size: 27px;
}

.mobile-lightMode-BG {
  background-image: url("../images/bg-mobile-light.jpg");
  background-size: cover;
}

.mobile-DarkMode-BG {
  background-image: url("../images/bg-mobile-dark.jpg");
  background-size: cover;
}

.task-input {
  display: flex;
  margin-top: -5.7rem;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 85vw;
  padding: 10px 20px;
  border-radius: 6px;
}
.task-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 1rem;
  color: hsl(236deg, 33%, 92%);
  cursor: pointer;
  border: 1px solid hsl(236deg, 33%, 92%);
}

.uniqucheckbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 1rem;
  color: hsl(236deg, 33%, 92%);
  cursor: pointer;
  border: 1px solid hsl(236deg, 33%, 92%);
}

.check-icon {
  display: none;
}

.show {
  display: block;
}

.check-bg {
  background: linear-gradient(135deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-Task {
  opacity: 0.3;
  text-decoration: line-through;
}

.Task-Container {
  transition: all 0.5s ease;
  margin: auto auto;
  background-color: white;
  margin-top: -2rem;
  width: 85vw;
  border-radius: 6px;
  box-shadow: 0 2px 100px -40px hsl(234deg, 11%, 52%);
}
.Task-Container li {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid hsl(236deg, 33%, 92%);
}
.Task-Container li .sub-task {
  display: flex;
  width: 100%;
}
.Task-Container li input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.Task-Container li .btns {
  transition: all 0.1s ease-in-out;
  visibility: hidden;
  cursor: pointer;
}
.Task-Container li .btn-container {
  display: flex;
  gap: 10px;
}
.Task-Container li .btn-container .done-btn {
  display: none;
}
.Task-Container li:hover .btns {
  transition: all 0.5s ease;
  visibility: visible;
}

#themeChangeBtn {
  cursor: pointer;
}

.show-data {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
.show-data #show-items-qty {
  font-size: 14px;
  color: hsl(234deg, 11%, 52%);
}
.show-data button {
  cursor: pointer;
  font-size: 14px;
  color: hsl(234deg, 11%, 52%);
  border: none;
  background: none;
}

footer {
  margin-top: 1.5rem;
  text-align: center;
  padding: 20px;
}
footer p {
  color: hsl(234deg, 11%, 52%);
}
footer #Display-Error {
  padding: 30px;
  color: red;
  font-style: italic;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 50;
}

.editable-task {
  background-color: rgba(79, 47, 207, 0.2);
}

h1,
h3 {
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: transparent;
  transition: 0.3s ease;
}

.menu {
  background: #fff;
  width: 85vw;
  padding: 20px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}
.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  border-radius: 40px;
  transition: 0.3s ease;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-item__text {
  min-width: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.menu-item__icon {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.menu-item__icon svg {
  height: 15px;
  width: 15px;
}
.menu-item.inactive {
  background-color: transparent !important;
}
.menu-item.inactive svg {
  color: #000 !important;
}
.menu-item.inactive .menu-item__text {
  min-width: 0;
  opacity: 0;
  font-size: 0;
}
.menu-item.purple {
  background-color: #eef1fb;
  color: #496ed4;
}
.menu-item.pink {
  background-color: #efebfa;
  color: #6e45d4;
}
.menu-item.ocher {
  background-color: #e4d7f4;
  color: #7638c7;
}
.menu-item.cyan {
  background-color: #d3bcf1;
  color: #6728b9;
}

@media screen and (min-width: 470px) {
  .mobile-lightMode-BG {
    background-image: url("../images/bg-desktop-light.jpg");
    background-size: cover;
  }
  .mobile-DarkMode-BG {
    background-image: url("../images/bg-desktop-dark.jpg");
    background-size: cover;
  }
  .list-header span {
    padding-left: 4rem;
  }
  .list-header #mode {
    margin-right: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
