@media screen and (min-width: 470px) {
  
  .mobile-lightMode-BG {
    background-image: url('../images/bg-desktop-light.jpg');
    background-size: cover;
  }
  
  .mobile-DarkMode-BG {
    background-image: url('../images/bg-desktop-dark.jpg');
    background-size: cover;
  }

  .list-header {
    span {
      padding-left: 4rem;
    }

    #mode {
      margin-right: 4rem;
    }
  }
}
