body {
  background-color: $Very-Light-Gray;
}

.body-darkmode {
  background-color: $Very-Dark-Blue !important;
}

.dark-Mode {
  background-color: $Very-Dark-Desaturated-Blue !important;
  color: $Light-Grayish-Blue;
  border-bottom: 1px solid $Very-Dark-Grayish-Blue !important;
}

.dark-text-color {
  color: $Light-Grayish-Blue !important;
}

.checkBox-Color {
  border: 1px solid $Very-Dark-Grayish-Blue !important;
  // border-color: $Very-Dark-Grayish-Blue;
}

.list-header {
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 100vw;
  background-repeat: no-repeat;

  span {
    font-weight: 700;
    color: white;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 27px;
  }

  #mode {
    margin-top: 45px;
    margin-right: 30px;
    color: white;
    font-size: 27px;
  }
}

.mobile-lightMode-BG {
  background-image: url('/images/bg-mobile-light.jpg');
  background-size: cover;
}

.mobile-DarkMode-BG {
  background-image: url('/images/bg-mobile-dark.jpg');
  background-size: cover;
}

.task-input {
  display: flex;
  margin-top: -6.5rem;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 85vw;
  padding: 10px 20px;
  border-radius: 6px;

  div {
    // border: 1px solid $Very-Light-Grayish-Blue;
  }
  input {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 1rem;
  color: $Very-Light-Grayish-Blue;
  cursor: pointer;
  border: 1px solid $Very-Light-Grayish-Blue;
}

.uniqucheckbox {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 1rem;
  color: $Very-Light-Grayish-Blue;
  cursor: pointer;
  border: 1px solid $Very-Light-Grayish-Blue;
}

.check-icon {
  display: none;
}

.show {
  display: block;
}

.check-bg {
  background: $Check-Background;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-Task {
  opacity: 0.3;
  text-decoration: line-through;
}

.Task-Container {
  transition: all 0.5s ease;
  margin: auto auto;
  background-color: white;
  margin-top: -2rem;
  width: 85vw;
  border-radius: 6px;
  box-shadow: 0px 2px 100px -40px $Dark-Grayish-Blue;
  li {
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    // padding-left: 0;
    border-bottom: 1px solid $Very-Light-Grayish-Blue;
    .sub-task {
      display: flex;
    }
    input {
      background-color: transparent;
      border: none;
      outline: none;
    }
    .del-btn {
      transition: all 0.1s ease-in-out;
      visibility: hidden;
      cursor: pointer;
    }
    .btn-container {
      display: flex;
      gap: 10px;
    }
    &:hover .del-btn {
      transition: all 0.5s ease;
      visibility: visible;
    }
  }
}

.show-data {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  #show-items-qty {
    font-size: 14px;
    color: $Dark-Grayish-Blue;
  }
  button {
    cursor: pointer;
    font-size: 14px;
    color: $Dark-Grayish-Blue;
    border: none;
    background: none;
  }
}

footer {
  margin-top: 1.5rem;
  text-align: center;
  padding: 20px;
  p {
    color: $Dark-Grayish-Blue;
  }
  #Display-Error {
    padding: 30px;
    color: red;
    font-style: italic;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 50;
}

.editable-task {
  background-color: rgba(79, 47, 207, 0.2);
}
