@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

//Primary Colors

$Bright-Blue: hsl(220, 98%, 61%);
$Check-Background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Color For LiGHT Theme

$Very-Light-Gray: hsl(0, 0%, 98%);
$Very-Light-Grayish-Blue:hsl(236, 33%, 92%);
$Light-Grayish-Blue: hsl(233, 11%, 84%);
$Dark-Grayish-Blue: hsl(236, 9%, 61%);
$Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

//Colors for Dark Theme

$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
